body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

/**PLAYERS**********/

.players {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  margin: auto;
  letter-spacing: -2.9px;
}

.player {
  font-size: 64px;
  text-align: center;
  opacity: 0.5;
  flex: 0 0 auto;
}

.player.active {
  font-weight: 700;
  opacity: 0.9;
}

.player.color0 {
  background-color: #fff;
  color: #FFB60A;
}

.player.color10 {
  background-color: #fff;
  color: #00dbe8;
}

.player.winner {
  font-weight: 900;
  opacity: 1 !important;
}

.player .points {
  clear: both;
  font-size: 72px;
  text-align: center;
  margin-top: -42px;
  margin-bottom: 15px;
}

.vessus {
  flex: 0 0 auto;
  text-align: center;
  font-size: 36px;
  color: #f00;
  padding-top: 36px;
  margin-left: -8px;
  margin-right: -20px;
  z-index: 200;
}

/**GAME**********/

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-board {
  /*box-shadow: 0px 0px 30px 10px #444;*/
  border-radius: 10px;
}

.game-info {
  margin-left: 20px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.resetLink{
  cursor: pointer;
  display: block;
  align-self: flex-end;
  text-align: right;
}

/**BOARD************/

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

/**SQUARES*********/

.square {
  background: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  cursor: pointer;
  z-index: 0;
}

.square div {
  background-color: blanchedalmond;
  line-height: 50px;
  height: 50px;
  width: 50px;
  opacity: 0.9;
  transition: transform 0.1s, color 0.5s, background-color 0.5s;
}

.square div:hover {
  opacity: 1;
  border: 1px solid transparnt;
  transform: scale(1.5);
  border-radius: 50%;
  position: relative;
  z-index: 100;
}
.square.lastmove div{
  text-decoration: line-through;
}

/*Teal and orange*/

.color0, .color0 div.number {
  background-color: #FFB60A;
}

.color0 div.number {
  color: #FFB60A;
}

.color1, .color1 div.number {
  background-color: #E5B820;
}

.color2, .color2 div.number {
  background-color: #CCBA37;
}

.color3, .color3 div.number {
  background-color: #B2BC4D;
}

.color4, .color4 div.number {
  background-color: #99BF64;
}

.color5, .color5 div.number {
  background-color: #7FC17A;
}

.color6, .color6 div.number {
  background-color: #66C391;
}

.color7, .color7 div.number {
  background-color: #4CC6A7;
}

.color8, .color8 div.number {
  background-color: #33C8BE;
}

.color9, .color9 div.number {
  background-color: #19CAD4;
}

.color10, .color10 div.number {
  background-color: #00dbe8;
}

.color10 div.number {
  color: #00dbe8;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/**MEDIA*******************/

@media(max-width:430px) {
  .player {
    font-size: 32px;
  }
  .game {
    flex-direction: column;
  }
  .player .points {
    font-size: 32px;
    margin-top: -12px;
    margin-bottom: 5px;
  }
  .square, .square div {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .vessus {
    font-size: 25px;
    padding-top: 10px;
    margin-left: -6px;
    margin-right: -10px;
  }
}